* {
    padding: 0px;
    margin: 0px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.ar {
    background-color: #20bd57;

}

.dropdown :hover {
    color: rgb(233, 101, 101);
}

#icon a:hover {

    color: rgb(255, 0, 0);
}

.ng {
    background-color: #3417c7;
}

a {
    text-decoration: none;

}

#icon {
    margin-right: 0px;
}

#icon a {
    transition: all 0.2s 0.1s;
    color: rgb(248, 249, 250);
}

